.flex-container{
    display: flex;
    flex-direction: column;
}
.form_center{
    margin: 0 auto;
}
.mat-form-field{
    width: 300px;
}
.patientbtn{
    padding: 0px 2px;
}
.medicalbtn{
    padding: 0px 12px;
}