.flex-container{
    text-align: center;
    margin-top: 75px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
}
.fullwidth{
    width: 300px;
}
.form_center{
    display: flex;
    justify-content: center;
}
.subBtn{
    display: flex;
    justify-content: space-around;
}