mat-card{
    display: flex;
      flex-direction: column;
      padding: 35px;
      height: 150px;
      width: auto;
      img{
        margin-bottom: 10px;
        width: 100%;
      }
  }
  